$lightGray: #A3B8CC;
$darkGray: #212529;
$lightOrange: #FF7F22;

.production {
    &__settings {
        display: flex;
        margin-bottom: 60px;
    }

    &__settings_options,
    &__options_type,
    &__options_stabilizer {
        display: flex;
        flex-direction: column;
    }

    &__settings_options {
        margin-right: 20px;
    }

    &__radio_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__options_type {
        margin-bottom: 28px;
    }

    &__settings_spares {
        display: flex;
        flex-wrap: wrap;
        max-width: 232px;
    }

    &__options_title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .production {
        &__settings {
            margin-bottom: 40px;
        }
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .production {
        &__settings {
            flex-direction: column;
            margin-bottom: 20px;
        }

        &__settings_options {
            margin: 0 0 40px 0;
        }
    }
}
