@import './../../styles/mixins';
@include section_number;
@include section_title;

$lightGray: #A3B8CC;

.production {
    &_wrapper {
        display: flex;
        padding: 50px 0;
        margin-bottom: 155px;
    }

    &_side {
        padding: 9px 106px 0 0;
    }

    &_main {
        width: 75%;
    }

    &_main_info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_settings_wrapper {
        display: flex;
        flex-direction: column;
        width: 68%;
    }

    &_button {
        display: flex;
    }

    &_button_info {
        max-width: 195px;
    }

    &_button_info {
        color: $lightGray;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-left: 24px;
    }
}