.header_btn {
    border-radius: 60px;
    padding: 12px 69px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
    margin-top: 24px;
}

.header_btn:hover {
    background: transparent;
    background-color: #FF5722;
    transition: all 0.5s linear;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}