$lightGray: #A3B8CC;
$darkGray: #667380;

.hero {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 48px 0 50px 0;
    }

    &__side {
        display: flex;
        flex-direction: column;
        color: $darkGray;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__pointer_text {
        transform-origin: top left;
        transform: rotate(-90deg);
    }

    &__pointer_text::before {
        content: url('./../../assets/images/scroll_arrow.svg');
        width: 24px;
        height: 24px;
        position: absolute;
        transform-origin: top left;
        transform: rotate(90deg);
        margin-left: -8px;
    }

    &__main {
        font-weight: 600;
        max-width: 470px;
    }

    &__title {
        color: #FFFFFF;
        font-size: 56px;
        line-height: 72px;
        margin-bottom: 24px;
    }

    &__text {
        color: $lightGray;
        font-size: 24px;
        line-height: 32px;
    }
}

.section_number {
    margin-bottom: 176px;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .hero {
        &__wrapper {
            margin: 52px 0 40px 0;
        }

        &__title {
            font-size: 48px;
            line-height: 56px;
        }

        &__text {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        &__wrapper {
            margin: 56px 0 40px 0;
        }

        &__title {
            font-size: 32px;
            line-height: 40px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .hero {
        &__wrapper {
            margin: 36px 0 30px 0;
                flex-direction: column-reverse;
                justify-content: center;
        }

        &__title {
            font-size: 28px;
            line-height: 32px;
            text-align: center;
            margin: 0;
        }

        &__text {
            display: none;
        }

        &__image {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 320px) and (max-width: 1919px) {
    .hero {
        &__side {
            display: none;
        }

        &__image {
            max-width: 236px;
        }
    }
}