@import "./../../styles/mixins";
@include section_number;
@include section_title;

$lightGray: #A3B8CC;
$darkGray: #4C5865;
$deepDarkGray: #333940;
$lightOrange: #FF7F22;
$darkOrange: #FF5722;

.wallet {
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 50px 0;
    }

    &__side {
        padding: 9px 106px 0 0;
    }

    &__money_info {
        margin: 24px 0 44px 0;
        color: $lightGray;
        font-size: 24px;
        font-weight: 500;
    }

    &__money_image {
        display: inline-block;
    }

    &__coins_image {
        display: inline-block;
        position: relative;
        max-width: 16px;
        margin-left: -8px;
    }

    &__coins_image:nth-child(1) {
        margin-left: 0;
    }

    &__money_number {
        font-weight: 700;
    }

    &__loot {
        display: flex;
        align-items: center;
    }

    &__button_loot {
        cursor: pointer;
        color: $lightOrange;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background: transparent;
        border: none;
        text-decoration: underline;
        transition: all .3s linear;
    }

    &__button_loot:hover {
        color: $darkOrange;
    }

    &__button_loot:enabled:active {
        color: $lightOrange;
        text-decoration: none;
    }

    &__button_loot:disabled {
        color: $darkGray;
        text-decoration: none;
        cursor: default;
    }

    &__checkbox_loot {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__checkbox_loot+&__checkbox_info {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &__checkbox_loot+&__checkbox_info::before {
        content: '';
        cursor: pointer;
        display: inline-block;
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid $lightGray;
        margin: 0 12px 0 31px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: all .3s ease;
    }

    &__checkbox_loot:hover+&__checkbox_info::before {
        border: 2px solid $darkGray;
    }

    &__checkbox_loot:checked+&__checkbox_info::before {
        background-image: url("./../../assets/images/checkbox_checked.svg");
        border: 2px solid $lightGray;
    }

    &__checkbox_loot:disabled+&__checkbox_info::before {
        border: 2px solid $deepDarkGray;
        background-image: none;
        cursor: default;
    }

    &__checkbox_info {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}