@mixin section_number {
    .section_number {
        color: #667380;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}

@mixin section_title {
    .section_title {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 60px;
    }
}

@mixin spare_item__title {
    .spare_item__title {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 5px;
    }
}

@mixin spare_item__price {
    .spare_item__price {
        color: #A3B8CC;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

@mixin modal_title {
    .modal_title {
        color: #212529;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 23px;
    }
}

@mixin modal_text {
    .modal_text {
        color: #4C5865;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
    }
}