@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
    background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
    scroll-behavior: smooth;
}

#root {
	min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1016px;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .container {
        max-width: 756px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 496px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 236px;
    }
}