.robot_design_male_ready {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_male_ready.png') no-repeat;
}

.robot_design_male_available {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_male_available.png') no-repeat;
}

.robot_design_male_disable {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_male_disable.png') no-repeat;
}

.robot_front_male_ready {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_male_ready.png') no-repeat;
}

.robot_front_male_available {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_male_available.png') no-repeat;
}

.robot_front_male_disable,
.robot_default_disable {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_male_disable.png') no-repeat;
}

.robot_design_famale_ready {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_famale_ready.png') no-repeat;
}

.robot_design_famale_available {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_famale_available.png') no-repeat;
}

.robot_design_famale_disable {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/design_famale_disable.png') no-repeat;
}

.robot_front_famale_ready {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_famale_ready.png') no-repeat;
}

.robot_front_famale_available {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_famale_available.png') no-repeat;
}

.robot_front_famale_disable {
    width: 236px;
    height: 320px;
    background: url('./../../../assets/images/front_famale_disable.png') no-repeat;
}