@import './../../../styles/mixins';
@include modal_title;
@include modal_text;

.productionModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.67);
    display: none;
}

.productionModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.production {
    &__modal_content {
        padding: 8px 8px 40px 106px;
        border-radius: 10px;
        background: #FFFFFF;
    }

    &__close_wrapper {
        display: flex;
        justify-content: end;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__message {
        max-width: 320px;
        padding: 0 62px 0 0;
    }
}

.button_close {
    background: transparent;
    border: none;
    cursor: pointer;
}