$lightGray: #A3B8CC;
$gray: #4C5865;
$deepDarkGray: #333940;
$darkGray: #212529;
$lightOrange: #FF7F22;

.production {
    &__radio_info {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 0 27px 0 0;
    }

    &__radio {
        input[type="radio"] {
            position: absolute;
            opacity: 0;

            +.production__radio_info {
                &:before {
                    content: '';
                    background: $darkGray;
                    border-radius: 100%;
                    border: 2px solid $lightGray;
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    position: relative;
                    top: -0.2em;
                    margin-right: 8px;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all .3s linear;
                }
            }

            &:hover {
                +.production__radio_info {
                    &:before {
                        outline: none;
                        border: 2px solid $gray;
                    }
                }
            }

            &:checked {
                +.production__radio_info {
                    &:before {
                        background-color: $lightOrange;
                        border: 2px solid $lightGray;
                        box-shadow: inset 0 0 0 3px $darkGray;
                    }
                }
            }

            &:focus {
                +.production__radio_info {
                    &:before {
                        outline: none;
                        border: 2px solid $lightGray;
                    }
                }
            }

            +.production__radio_info {
                &:empty {
                    &:before {
                        margin-right: 0;
                    }
                }
            }

            &:disabled {
                +.production__radio_info {
                    &:before {
                        outline: none;
                        border: 2px solid $deepDarkGray;
                        background-color: none;
                        cursor: default;
                    }
                }
            }
        }
    }
}