$lightGray: #A3B8CC;
$darkGray: #212529;
$lightOrange: #FF7F22;

.production {
    &_settings {
        display: flex;
        margin-bottom: 60px;
    }

    &_settings_options,
    &_options_type,
    &_options_stabilizer {
        display: flex;
        flex-direction: column;
    }

    &_settings_options {
        margin-right: 20px;
    }

    &_radio_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_options_type {
        margin-bottom: 28px;
    }

    &_settings_spares {
        display: flex;
        flex-wrap: wrap;
        max-width: 232px;
    }

    &_options_title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 16px;
    }
}